/*
 *  WebFont Package Licensed to Qusai Akoud
 */

/* Berlingske */
@font-face {
  font-family: Berlingske;
  src: url('/fonts/BerlingskeSerifDisplay-Extralight.otf') format('otf'),
    url('/fonts/BerlingskeSerifDisplay-Extralight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Termina */
@import url('https://use.typekit.net/nic2xwz.css');
