// Ratio
$ratio: 1.1618;

// Fonts
$serif: 'Berlingske', serif;
$sans: 'Termina', sans-serif;

// Font sizes
$fs-base: 1rem;
$fs-md: $fs-base * $ratio;
$fs-lg: $fs-md * $ratio;
$fs-xl: $fs-lg * $ratio * 1.5;
$fs-xxl: $fs-xl * $ratio * 1.5;
$fs-sm: $fs-base / $ratio;
$fs-xs: $fs-sm / $ratio;
$fs-xxs: $fs-xs / ($ratio * 2);

// Colors
$color-base: #ffe5df;
$color-dark: #466060;
$color-black: #1d1c1c;
$color-blue: #464f60;

// Spacing
$spacing-base: 1rem;
$spacing-sm: $spacing-base / $ratio;
$spacing-xs: $spacing-sm / 2 / $ratio;
$spacing-xxs: $spacing-xs / $ratio;
$spacing-md: $spacing-base * $ratio;
$spacing-lg: $spacing-md * $ratio;
$spacing-xl: $spacing-lg * $ratio;
$spacing-xxl: $spacing-xl * $ratio;
$spacing-xxxl: $spacing-xxl * $ratio * 2;

// Breakpoints
$mobile: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;
$tablet: 768px;
$desktop: 1024px;
$desktop-lg: 1440px;
$desktop-xl: 1920px;

// Letter spacing
$ls-loose: calc(#{$ratio}/ 8rem);
$ls-x-loose: calc(#{$ratio}/ 2rem);

// Gradients
$gradient: linear-gradient(45deg, #79d5ff 0%, #f4b4ff 100%);

// Transitions
$t-duration: 0.6s;
$t-timing: cubic-bezier(0.19, 1, 0.22, 1);
$transition: $t-duration $t-timing;

// Borders
$border: 1px solid $color-black;
