// Colors
$color-base: #ffe5df;
$color-dark: #466060;

// Spacing
$spacing-base: 1rem;

// Breakpoints
$mobile: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;
$tablet: 768px;
$desktop: 1024px;
$desktop-lg: 1440px;
$desktop-xl: 1920px;
