@import '../../base-styles/variables';
@import '../../base-styles/mixins';
@import '../../base-styles/placeholders';

.wedding {
  background-color: $color-dark;
  display: grid;
  grid-template-column: 1fr;
  position: relative;

  &:not(:first-child) {
    .wedding_header {
      margin-top: 75%;
    }

    .wedding_name:before {
      height: 300%;
    }
  }
}

.wedding_header {
  justify-content: center;
  display: flex;
  position: relative;
}

.wedding_name {
  @extend %uppercase;
  align-items: center;
  color: $color-base;
  display: flex;
  font-family: $serif;
  font-size: 8vmin;
  font-weight: 100;
  justify-content: center;
  margin: 25% $spacing-sm;
  padding: $spacing-lg;
  position: relative;
  text-align: center;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    height: 150%;
    bottom: 100%;
    background-color: $color-base;
  }

  @include respond-to($tablet) {
    font-size: 12vmin;
    margin: 25% $spacing-lg;
    padding: $spacing-lg $spacing-xxxl;
  }
}

.wedding_header_image {
  position: absolute;
  top: 50%;
  height: 50%;

  img {
    @include size(100%);
    object-fit: cover;
  }
}

.wedding_image {
  padding: $spacing-sm $spacing-sm 0 $spacing-sm;

  @include respond-to($tablet) {
    padding: $spacing-lg $spacing-lg 0 $spacing-lg;
  }
}
