@import '../../base-styles/variables';
@import '../../base-styles/mixins';
@import '../../base-styles/placeholders';

.wedding {
  background-color: $color-dark;
  display: grid;
  grid-template-column: 1fr;
  position: relative;

  &:not(:first-child) {
    .wedding_header {
      margin-top: 25%;
    }
  }
}

.wedding_header {
  justify-content: center;
  display: flex;
  position: relative;
}

.wedding_name {
  @extend %uppercase;
  align-items: center;
  border-bottom: 1px solid $color-black;
  color: $color-base;
  display: flex;
  font-family: $serif;
  font-size: 8vmin;
  font-weight: 100;
  justify-content: center;
  margin: 25% $spacing-sm;
  position: relative;
  text-align: center;

  span {
    background-color: $color-dark;
    padding: $spacing-lg;
    position: relative;
    z-index: 1;
  }

  &:after {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background: linear-gradient(white, black);
    content: '☙';
    font-size: 50vmin;
    position: absolute;
    left: 50%;
    line-height: 0;
    transform: translateX(-50%);
    top: 100%;
    color: $color-black;
    z-index: 0;
  }

  @include respond-to($tablet) {
    font-size: 12vmin;
    margin: 25% $spacing-lg;

    span {
      padding: $spacing-lg $spacing-xxxl;
    }
  }
}

.wedding_header_image {
  position: absolute;
  top: 50%;
  height: 50%;

  img {
    @include size(100%);
    object-fit: cover;
  }
}

.wedding_image {
  padding: $spacing-sm $spacing-sm 0 $spacing-sm;

  @include respond-to($tablet) {
    padding: $spacing-lg $spacing-lg 0 $spacing-lg;
  }
}
