@import '../../base-styles/variables';
@import '../../base-styles/mixins';

.wedding {
  background-color: $color-dark;
  position: relative;

  img {
    max-height: 100vh;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.cols_2_scroll_1_fixed {
  @include respond-to($tablet) {
    display: flex;
  }
}

.col_scroll {
  height: 100%;
  width: 100%;
}

.col_fixed {
  width: 100%;

  picture {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    height: 80vh;
    width: 80%;
  }
}
