@import '../../base-styles/variables';
@import '../../base-styles/mixins';

$img-scale: 1.01;
$img-blur: 5px;

@keyframes imgFadeIn {
  from {
    filter: saturate(0) blur($img-blur);
    transform: scale($img-scale);
  }
  to {
    filter: saturate(1) blur(0px);
    transform: scale(1);
  }
}

.modal {
  align-items: center;
  background-color: $color-blue;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1000;

  picture {
    height: 100%;

    img {
      animation: imgFadeIn $t-duration #{$t-duration / 3} forwards;
      animation-timing-function: $t-timing;
      cursor: url(../../../static/images/zoom-out.svg) 17.5 17.5, zoom-out;
      filter: saturate(0) blur($img-blur);
      height: 100%;
      object-fit: contain;
      object-position: center;
      transform: scale($img-scale);
    }
  }
}
