@import '../../base-styles/variables';
@import '../../base-styles/animations';
@import '../../base-styles/mixins';

.modal,
.modal_close {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1000;

  picture {
    height: 100%;

    img {
      cursor: url(../../../static/images/zoom-out.svg) 17.5 17.5, zoom-out;

      @include respond-to($mobile, $tablet) {
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.modal {
  animation: modalFadeIn $t-duration forwards;
  animation-timing-function: $t-timing;
  background-color: transparent;

  img {
    animation: imgFadeIn #{$t-duration * 2} $t-duration forwards;
    animation-timing-function: $t-timing;
    filter: saturate(0);
    opacity: 0;
    transform-origin: top center;
    transform: scaleY($img-scale);
  }

  @include respond-to($tablet) {
    overflow-y: scroll;
  }
}

.modal_close {
  animation: modaleFadeOut $t-duration $t-duration forwards;
  animation-timing-function: $t-timing;
  background-color: $modal-bg;

  picture {
    img {
      animation: imgFadeOut ($t-duration / 2) forwards;
      opacity: 1;
      transform: scaleY(1);
      transform-origin: bottom center;
    }
  }
}
