@import '../../base-styles/variables';
@import '../../base-styles/mixins';

.header_images {
  @include size(100%);
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 0;

  @include respond-to($tablet) {
    @include size(100%);
    align-items: flex-end;
    flex-direction: row-reverse;
  }
}

.header_image {
  @include size(100%, 50%);
  z-index: 1;

  picture {
    @include size(100%);
    display: block;

    @include respond-to($tablet) {
      @include size(100%);
    }

    img {
      @include size(100%);
      display: block;
      object-fit: cover;
      object-position: bottom;

      @include respond-to($tablet) {
        @include size(100%);
      }
    }
  }
}
