@import '../../base-styles/variables';
@import '../../base-styles/mixins';
@import '../../base-styles/placeholders';

.header {
  -webkit-overflow-scrolling: touch;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
}

.site_name {
  font-family: $serif;
  font-size: $fs-base;
  margin: 0;
  padding-bottom: $spacing-sm;
  position: fixed;
  text-align: center;
  width: 100%;
  will-change: transform, top;
  z-index: 10;

  @include respond-to($tablet) {
    font-size: $fs-lg * 1.5;
  }

  @include respond-to($desktop-lg) {
    font-size: $fs-lg * 2;
  }
}

.site_tagline {
  @extend %uppercase;
  color: $color-base;
  display: block;
  font-family: $sans;
  font-weight: normal;
  font-size: $fs-xs;
  pointer-events: none;
  will-change: opacity;
}

.site_name_link {
  @extend %uppercase;
  font-size: 15vw;
  font-weight: normal;
  margin: $spacing-xs 0 $spacing-xxs;
  display: block;
  text-decoration: none;

  @include respond-to($tablet) {
    margin: 0;
  }
}
