@import '../../base-styles/variables';
@import '../../base-styles/mixins';

.header_images {
  @include size(100%);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 0;

  @include respond-to($tablet) {
    @include size(100%);
    flex-direction: row-reverse;
  }
}

.header_image {
  @include size(100%, 50%);

  picture {
    display: block;
    @include size(100%);

    @include respond-to($tablet) {
      @include size(100%);
    }

    img {
      @include size(100%);
      display: block;
      object-fit: cover;
      object-position: top center;

      @include respond-to($tablet) {
        @include size(100%);
      }
    }
  }
}
