@import '../../base-styles/variables';

.header {
  align-items: center;
  display: flex;
  height: 150vh;
  justify-content: center;
  width: 100%;
}

.site_name {
  margin: $spacing-base 0;
  position: fixed;
  text-align: center;
  transition: 0.01s;
  will-change: transform, top;
  z-index: 1;
}

.site_name_link {
  font-size: 15vw;
  letter-spacing: 0px;
  text-decoration: none;

  &:hover {
    color: $color-dark;
  }
}
