@import '../../base-styles/variables';
@import '../../base-styles/mixins';
@import '../../base-styles/placeholders';

.footer {
  align-items: center;
  background-color: $color-dark;
  color: $color-base;
  display: grid;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  top: 150vh;
}

.footer_contact_info {
  align-self: flex-end;
  list-style: none;
  margin: $spacing-md 0;
  padding: 0;

  li {
    margin: $spacing-md;

    a {
      display: inline-block;
      font-family: $sans;
      font-size: $fs-md;
      line-height: 1;
      padding: $spacing-lg;
      text-shadow: -2px -2px $color-dark, -2px 2px $color-dark,
        2px -2px $color-dark, 2px 2px $color-dark;

      @include respond-to($tablet) {
        display: block;
      }
    }

    @include respond-to($tablet) {
      margin: $spacing-xxl;
    }
  }

  @include respond-to($tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.copyrights {
  @extend %uppercase;
  align-self: flex-end;
  bottom: $spacing-md;
  font-family: $sans;
  font-size: $fs-xxs;
  font-weight: 500;
  margin: $spacing-md $spacing-md $spacing-xxxl;
  position: relative;
  text-align: center;

  @include respond-to($tablet) {
    bottom: $spacing-lg;
    font-size: $fs-sm;
    margin: $spacing-md;
  }
}
