@import '../base-styles/fonts';
@import '../base-styles/variables';
@import '../base-styles/mixins';

body {
  -webkit-font-smoothing: antialiased;
  background-color: $color-dark;
  font-family: 'Relative', sans-serif;
  margin: 0;
  scroll-behavior: smooth;

  &.nav_on {
    overflow: hidden;
  }
}

h1 {
  .nav_on & {
    z-index: 0;
  }
}

a {
  text-decoration: none;
  color: $color-base;

  &:hover {
    color: $color-black;
  }
}

img {
  width: 100%;
  display: block;
}
