@import '../../base-styles/variables';
@import '../../base-styles/mixins';
@import '../../base-styles/placeholders';

$btn-size: 30px;
$dot-size: 5px;

.nav_content_on,
.nav_content_off {
  align-items: flex-end;
  background-color: $color-dark;
  bottom: 0;
  counter-reset: index;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  right: 0;
  padding-bottom: $spacing-xxxl * 1.5;
  position: fixed;
  width: 100%;

  @include respond-to($tablet) {
    padding-bottom: $spacing-xxxl * 3;
    padding-right: $spacing-xl;
  }
}

.nav_content_on {
  display: flex;
  z-index: 1000;
}

.nav_content_off {
  display: none;
  opacity: 0;
}

.nav_item {
  @extend %reset-btn;
  color: $color-base;
  counter-increment: index;
  display: block;
  font-family: $serif;
  font-size: $fs-xl;
  padding: $spacing-base $spacing-lg;
  position: relative;
  text-align: right;

  &:active,
  &:focus,
  &:hover {
    color: $color-black;
  }

  @include respond-to($mobile-lg) {
    font-size: $fs-xl;
  }

  @include respond-to($desktop) {
    font-size: $fs-xxl;
  }
}

.nav_button,
.nav_button_close {
  @extend %reset-btn;
  position: fixed;
  right: $spacing-md;
  text-align: center;
  z-index: 1000;

  &:focus,
  &:hover {
    .btn_icon {
      &::after,
      &::before {
        background-color: $color-black;
      }

      &::after {
        --box-shadow-color: #{$color-black};
      }
    }
  }

  @include respond-to($tablet) {
    right: 0;
  }
}

.btn_icon {
  @include size($btn-size, $btn-size / 2);
  display: block;
  position: relative;
  top: 0;
  left: 0;

  &::after,
  &::before {
    @include size($dot-size);
    background-color: $color-base;
    border-radius: 50%;
    content: '';
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &:after {
    --box-shadow-color: #{$color-base};
    box-shadow: calc(#{$btn-size / 2} - #{$dot-size / 2}) 0
      var(--box-shadow-color);
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav_button_close & {
    &::after,
    &::before {
      @include size($btn-size, 2px);
      border-radius: 0;
      box-shadow: none;
      transform-origin: left;
      left: 50%;
    }

    &::after {
      transform: rotate(45deg) translate(-50%, -50%);
    }

    &::before {
      transform: rotate(-45deg) translate(-50%, -50%);
    }
  }

  @include respond-to($tablet) {
    @include size($btn-size);

    &::after,
    &::before {
      transition: all $transition, background-color 0s, box-shadow 0s;
    }

    &::before {
      transition-delay: $t-duration / 4, 0s, 0s, 0s;
    }
  }
}

.contact_link {
  @extend %uppercase;
  left: 0;
  position: fixed;
  z-index: 1000;
}

.nav_button,
.nav_button_close,
.contact_link {
  bottom: $spacing-md;
  font-size: $fs-xs;
  font-weight: bold;
  padding: $spacing-md $spacing-base $spacing-base;

  @include respond-to($tablet) {
    bottom: $spacing-lg;
    font-size: $fs-sm;
    margin: 0 $spacing-lg;
    padding-bottom: $spacing-md;
  }
}
