@import '../../base-styles/variables';
@import '../../base-styles/mixins';
@import '../../base-styles/placeholders';

.nav_content_on,
.nav_content_off {
  align-items: center;
  background-color: $color-dark;
  counter-reset: index;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav_content_on {
  display: flex;
  z-index: 1000;
}

.nav_content_off {
  display: none;
  opacity: 0;
}

.nav_item {
  @extend %reset-btn;
  @extend %uppercase;
  border-top: $border;
  color: $color-black;
  counter-increment: index;
  display: block;
  font-family: $serif;
  font-size: $fs-md;
  padding: $spacing-base 0 $spacing-lg;
  position: relative;
  text-align: center;
  width: 100%;

  &:last-child {
    border-bottom: $border;
  }

  &:active,
  &:focus,
  &:hover {
    color: $color-base;
  }

  @include respond-to($mobile-lg) {
    font-size: $fs-xl;
  }

  @include respond-to($desktop) {
    font-size: $fs-xxl;
  }
}

.nav_button,
.nav_button_close {
  @extend %reset-btn;
  color: $color-base;
  font-family: $sans;
  font-size: $fs-lg;
  letter-spacing: 3px;
  line-height: 1;
  padding: $spacing-base;
  position: fixed;
  right: 0;
  text-align: center;
  top: calc(100% - #{$spacing-xxxl});
  z-index: 1000;

  @include respond-to($tablet) {
    padding: $spacing-base $spacing-lg;
    transform-origin: bottom;
    transform: scale(1.25);
  }
}

.contact_link {
  @extend %uppercase;
  bottom: $spacing-md;
  font-size: $fs-xs;
  font-weight: bold;
  left: 0;
  padding: $spacing-md $spacing-base $spacing-base;
  position: fixed;
  z-index: 1000;

  @include respond-to($tablet) {
    font-size: $fs-sm;
    padding-bottom: $spacing-md;
    bottom: $spacing-lg;
  }
}

.nav_button,
.nav_button_close,
.contact_link {
  @include respond-to($desktop) {
    margin: 0 $spacing-lg;
  }
}
